{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <div>
        <h1>{{ project.name }}</h1>
        {{ project.description|markdownify }}s
        <h2>Tasks</h2>
        <li class="nav-item">
            <a href="{% url 'create_task' %}">Create a New Task</a>
        </li>
        {% if project.tasks.all|length >= 1 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <th>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
{% endblock content %}
